<!DOCTYPE html>
<html xmlns="hhtp://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<title>Títulos</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
</head>

<body>
	<header layout:include="cabecalho"></header>

	<section layout:fragment="conteudo">
		<p>Conteúdo da página!!!</p>
	</section>

	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/titulo.js"></script>
</body>
</html>